<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <item
        android:id="@+id/action_favorite"
        android:icon="@drawable/emptystar"
        android:title="@string/action_favorite"/>

    <item android:id="@+id/facebook"
        android:title="@string/facebook"
        android:icon="@drawable/facebook"/>

</menu>